
  <div class="container">
      <div class="wrapper">
   <form  [formGroup]="profileForm"  (ngSubmit)="onSubmit1($event)">
    <input type="text" id="login"formControlName="username" [(ngModel)]="username" name="login" placeholder=" Username"><br><br>
    <input type="password" id="password"formControlName="password" name="login" placeholder=" Password">
<br><br>

    <button type="submit" class="btn btn-primary btn1" value="Log In" [disabled]=!profileForm.valid>Log in</button><br>
  </form>
</div>
</div>
<br>
